.App {
  height: 100vh;
  background-color: white;
}

html {
  overflow-y: unset;
}
* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.shadow-it {
  box-shadow: 0px 0px 30px -10px;
}

.header-area {
  height: 100px;
  box-shadow: 0 0 10px #b7b7b77a;
}

.footer-area {
  height: 60px;
  background: #eef2f5;
}

.no-overflow-y {
  overflow-y: hidden;
}